body {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* or 156% */

    letter-spacing: 0.05em;

    color: #464545;
    background: #ebebeb;
}

a, a:hover{
    text-decoration: none;
}

.page-wrapper {
    max-width: 1320px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
    background-color: white;
}

section.right {
    float: right;
    background: #d9d9d933;
    border-radius: 18px 0px 0px 0px;
    font-size: 16px;
}

section {
    margin: 0px;
}

.quickmarks-logo {
    margin: 25px 35px;
}

.quickmarks-logo img {
    height: 40px;
}

.row.heading-wrapper {
    width: 90%;
    margin: 50px auto;
}

h1,
h2 {
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.05em;
    color: #464545;
    font-style: normal;
}

h1.hero.heading {
    font-weight: 300;
}

h2.sub-hero.heading {
    margin: 15px 0px;
    font-size: 18px;
    line-height: 30px;
}

.row.hero-wrapper {
    margin: 50px 0px;
}

.sub-text {
    margin: 10px 0px;
}

.hero-image {
    margin: 0 auto;
}

.link {
    margin: 25px 30px;
    float: right;
    color: #6C63FF;
    cursor: pointer;
}

.row.top-line {
    display: inline;
}

.testimonial-wrapper {
    margin:75px auto;
    font-size: 16px;
}

.customer-pic img {
    height: 100px;
    border-radius: 10%;
    position: relative;
    top: -70px;
    left: -30px;
}

.quotes-img {
    position: relative;
    top: -35px;
    left: -100px;
}

.value-prop-wrapper {
    margin: 0px 50px;
    padding: 30px 0px;
}

.prop {
    margin: 25px 0px;
}

.prop-heading {
    font-size: 24px;
    color: #6C63FF;
}

.prop-sub-heading {
    color: #6C63FF;
}

.footer {
    margin: 120px 20px 0px 20px;
    text-align: left;
}

.imp-links {
    float: left;
}